@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
body {
  background-image: url("../img/background.jpg");
  background-size: cover;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.board {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28rem;
  height: 28rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
}
#board {
  width: 28rem;
  height: 28rem;
  border: 2px solid #ecf2ff;
  display: flex;
  flex-wrap: wrap;
}
#board img {
  width: 9.25rem;
  height: 9.25rem;
  border: 1px solid #ecf2ff;
  padding: 0;
  margin: 0;
}
.footer {
  width: 28rem;
  height: 4rem;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.footer .logo{
    width: 3rem;
    height: 3rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;    

}
.footer .logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.title {
  width: 100%;
  height: 5rem;
}
.title img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.name{
    font-family: 'Delicious Handrawn', cursive;
    font-size:1.5rem;
    color: #0044A2;
}
.author{
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    color: #545454;
}
.turn{
    padding-left: 10rem;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 1.2rem;
    color: #0044A2;
}
