@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Paytone+One&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  background-image: url("../img/background.jpg");
  background-size: cover;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.board {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 28rem;
  max-height: 28rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
}
#board {
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #ecf2ff;
  display: flex;
  flex-wrap: wrap;
}
#board img {
  width: 9.25rem;
  height: 9.25rem;
  border: 1px solid #ecf2ff;
  padding: 0;
  margin: 0;
}
.footer {
  width: 28rem;
  height: 4rem;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.footer .logo {
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
}
.footer .logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.title {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-family: "Delicious Handrawn", cursive;
  font-size: 1.5rem;
  color: #0044a2;
}
.author {
  font-family: "Poppins", sans-serif;
  font-size: 0.7rem;
  color: #545454;
}
.turn {
  padding-left: 10rem;
  font-family: "Delicious Handrawn", cursive;
  font-size: 1.2rem;
  color: #0044a2;
}

@font-face {
  font-family: "Rocher";
  src: url("https://assets.codepen.io/9632/RocherColorGX.woff2");
}

.mint {
  margin: 0;
  font-family: "Rocher";
  text-align: center;
  font-size: 3.8rem;
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}


.mint {
  font-palette: --Red;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.left {
  width: 7rem;
  height: 28rem;
}
.right {
  display: flex;
  width: 7rem;
  height: 32rem;
}
.container-time {
  width: 7rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  position: relative;
}
.bg-time {
  height: 10rem;
  width: 100%;
  position: absolute;
  z-index: -1;
}
.bg-time img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 10px);
}
.container-time h3 {
  font-family: "Delicious Handrawn", cursive;
  color: #faeab1;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
#timer {
  font-family: "Delicious Handrawn", cursive;
  color: #faeab1;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 320px) {
  #timer {
    font-size: 0.8rem;
  }
  .container-time h3 {
    font-size: 0.8rem;
  }
  .right .left{
    width: 3rem;
  }
}
.modal-body{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.modal-body div{
  text-align: center;
  display: flex;
  align-items: center;
}
.modal-footer{
 
}
